@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap");
body {
  font-family: "Jost", sans-serif;
  background-color: #f0f5ff;
  transition: 0.5s;
}
body {
  background-color: #121212;
}

.coolButton {
  background-color: #2b2b2b;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  color: cyan;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

.coolButton:hover {
  cursor: pointer;
  color: #151515;
  background: cyan;
  box-shadow: 0 0 2px cyan, 0 0 10px cyan, 0 0 10px cyan;
  transition-delay: 1s;
}

.coolButton span {
  position: absolute;
  display: block;
}

.coolButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, cyan);
}

.coolButton:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.coolButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, cyan);
}

.coolButton:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.coolButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, cyan);
}

.coolButton:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.coolButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, cyan);
}

.coolButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@media only screen and (max-width: 768px) {
  .predict {
    width: 75%;
  }
}
::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1366px) {
  .predict {
    width: 40%;
  }
}

.predict {
  background-color: #2b2b2b;
  width: 25%;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: cyan;
  transition: 0.5s;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

input {
  width: 80%;
  margin-bottom: 20px;
  border: none;
  background-color: #424242;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  transition: 0.5s;
  color: white;
}

input:focus {
  outline: none;
}

form button {
  width: 30%;
  border: none;
  background-color: #794bc4;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: 0.5s;
}

form button:hover {
  cursor: pointer;
  background-color: #875ad1;
}

form button:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .predict {
    width: 60%;
  }
}

.h1Class {
  margin: 10px;
  font-size: 20px;
}
